# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# 虚拟环境
venv/
env/
ENV/

# 视频文件
clips_in/
clips_out/

# 文件格式(根据需要)
*.mp4
*.exe